<!--schema generator: https://www.jamesdflynn.com/json-ld-schema-generator/ -->
<!-- usage: http://searchengineland.com/schema-markup-structured-data-seo-opportunities-site-type-231077-->
<script type="application/ld+json">
	{  
  "@context" : "http://schema.org",  
  "@type" : "MusicGroup", 
  "areaServed" : "Southern Wisconsin",
  "name" : "The Mad Tadders",  
  "email" : "madtadders@gmail.com",
  "founder" : "Luke & Eric Tadder",
  "foundingLocation" : "Edgerton, WI",
  "members" : "Luke Tadder, Eric Tadder, Kyle Furseth & Ross Harried",
  "telephone" : "+16089314810", 
  "url" : "http://madtadders.com",  
  "image" : "http://madtadders.com/assets/css/images/tadders.png",
  "logo" : "http://madtadders.com/assets/css/images/tadder-sq.png", 
  "description" : "Your live music band for bars, pubs, parties, weddings & events. Tickling the ears of Southern Wisconsin & Rock County.",
  "sameAs": [
		"https://www.facebook.com/MadTadders/",
		"https://www.youtube.com/channel/UCps30V-Pj_qGEme7PsUFu7w"
	]
}
</script>
<div class="row">
	<div class="max-1080">
		<div class="row">
			<div class="col-xs-12">
				<div class="row" style="padding: 5px; padding-top:15px;">
					<a href="{{ site.baseurl }}/aboutus">
						<span class="social-footer-links">About Us</span>
					</a>
					<a href="{{ site.baseurl }}/livemusic">
						<span class="social-footer-links">Live Samples</span>
					</a>
					<!--<a href="{{ site.baseurl }}/photos">
						<span class='franklin-gothic-urw'-bold social-footer-links">Photos</span>
					</a>-->
					<a href="{{ site.baseurl }}/setlist">
						<span class="social-footer-links">Set List</span>
					</a>
					<a href="{{ site.baseurl }}/contact">
						<span class="social-footer-links">Contact Us</span>
					</a>
				</div>
				<div id="footer-social" class="row" style="position: relative; height: 25px;">
					<a href="https://facebook.com/MadTadders" target="_blank"><i class="fa fa-facebook"></i></a>
					<a href="https://www.youtube.com/channel/UCps30V-Pj_qGEme7PsUFu7w" target="_blank"><i class="fa fa-youtube"></i></a>
					<a href="{{ site.baseurl }}/contact"><i class="fa fa-envelope"></i></a>
				</div>
				<div id="footer-contacts" class="row">
					<div><i class="fa fa-phone"></i> 608.931.4810</div>
					<div><i class="fa fa-envelope"></i>
						<!-- email obfuscators:-->
						<!-- http://www.albionresearch.com/misc/obfuscator.php-->
						<a href='mail&#116;&#111;&#58;&#109;adt&#97;%6&#52;de&#114;s&#64;g%6Dai%&#54;&#67;&#46;c%6F%6&#68;'>m&#97;dta&#100;&#100;&#101;rs&#64;gm&#97;&#105;l&#46;com</a>
					</div>
					<!--<div><address><i class="fa fa-map-marker"></i><a href="https://goo.gl/maps/WFygb">2109 N. Page St Stoughton, WI 53589</a></address></div>-->
				</div>
				<div id="footer-copyright" class="row">
					<p>
						<i class="fa fa-copyright"></i>
						<script type="text/javascript">
						document.write(new Date().getFullYear());
						</script> <!-- NAME HERE-->
						Mad Tadders
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- defer of css via google pagespeed-->
<script async src="{{ site.baseurl }}/dist/js/min/madtadders.min.js"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
