<meta name=viewport content="width=device-width, initial-scale=1">
<!-- PINTEREST-->
<meta name="p:domain_verify" content="d9dee012459ce944586afe1a29fc7fac" />
<!--favicons from http://realfavicongenerator.net/-->
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/css/images/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/css/images/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/css/images/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="{{ site.baseurl }}/assets/css/images/favicons/manifest.json">
<link rel="mask-icon" href="{{ site.baseurl }}/assets/css/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#000000">
<!--end favicons test-->
<script>
</script>
<!-- async css-->
<link rel="preload" href="{{ site.baseurl }}/dist/css/min/madtadders.min.css" as="style" onload="this.rel='stylesheet'">
<noscript>
	<link rel="stylesheet" href="{{ site.baseurl }}/dist/css/min/madtadders.min.css">
</noscript>
<script>
/*! loadCSS. [c]2017 Filament Group, Inc. MIT License */
!function(a){"use strict";var b=function(b,c,d){function e(a){return h.body?a():void setTimeout(function(){e(a)})}function f(){i.addEventListener&&i.removeEventListener("load",f),i.media=d||"all"}var g,h=a.document,i=h.createElement("link");if(c)g=c;else{var j=(h.body||h.getElementsByTagName("head")[0]).childNodes;g=j[j.length-1]}var k=h.styleSheets;i.rel="stylesheet",i.href=b,i.media="only x",e(function(){g.parentNode.insertBefore(i,c?g:g.nextSibling)});var l=function(a){for(var b=i.href,c=k.length;c--;)if(k[c].href===b)return a();setTimeout(function(){l(a)})};return i.addEventListener&&i.addEventListener("load",f),i.onloadcssdefined=l,l(f),i};"undefined"!=typeof exports?exports.loadCSS=b:a.loadCSS=b}("undefined"!=typeof global?global:this);
/*! loadCSS rel=preload polyfill. [c]2017 Filament Group, Inc. MIT License */
!function(a){if(a.loadCSS){var b=loadCSS.relpreload={};if(b.support=function(){try{return a.document.createElement("link").relList.supports("preload")}catch(b){return!1}},b.poly=function(){for(var b=a.document.getElementsByTagName("link"),c=0;c<b.length;c++){var d=b[c];"preload"===d.rel&&"style"===d.getAttribute("as")&&(a.loadCSS(d.href,d,d.getAttribute("media")),d.rel=null)}},!b.support()){b.poly();var c=a.setInterval(b.poly,300);a.addEventListener&&a.addEventListener("load",function(){b.poly(),a.clearInterval(c)}),a.attachEvent&&a.attachEvent("onload",function(){a.clearInterval(c)})}}}(this);
</script>
<!--end async css-->
<!--<script>
var cb = function() {
	var l = document.createElement('link');
	l.rel = 'stylesheet';
	l.href = '{{ site.baseurl }}/dist/css/min/secondcrop.min.css';
	var h = document.getElementsByTagName('head')[0];
	h.parentNode.insertBefore(l, h);
};
var raf = requestAnimationFrame || mozRequestAnimationFrame || webkitRequestAnimationFrame || msRequestAnimationFrame;
if (raf) raf(cb);
else window.addEventListener('load', cb);
</script>-->
